.pagination {
  justify-content: space-between;
  width: 99%;
  align-items: center;

  a, a:visited {
    color: blue;
    svg {
      zoom: 110%;
      margin: 10px;
      position: relative;
      top: -1px;
    }
  }

  span {
    /* result count */
    font-style: italic;
  }

  a:hover {
    color: rgb(0, 102, 255);
  }

  @media (max-width: 500px) {
    /* mobile */
    a, a:visited, span {
      font-size: 3vw;
    }
    svg {
      margin: 1vw !important;
    }
  }

  * {
    display: inline-block;
  }
}
