.thumbnailViewer {

  margin: 2em auto 20px;
  padding: 120px 0 20px;
  text-align: center;

  & > h2 {
    /* loading */
    margin: 80px 0;
  }


  & > div {

    /* both pagination and thumbnailGrid */

    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

    & > div {

      /* single title */

      text-align: center;
      font-size: calc(7px + 0.3vw);
      width: 20%;
      padding: 10px;
      margin: 0 0 1vh;
      flex-grow: 1;
      line-height: 1;

      img {
        width: 80%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      section {
        background-color: #ccc;
        padding-top: 35px;
        margin-top: -24px;
        height: 7em;
        padding: 35px 10px 10px;
      }

      h2 {
        font-weight: bold;
        margin: 0;
        line-height: 1;
      }

    }

  }


}
